@import 'tailwindcss';

@theme {
  --color-primary: #0e639c;
  --color-highlight: #3794ff;
  --color-screen: var(--vscode-editor-background);
  --color-black20: rgba(0, 0, 0, 0.2);
}

.link {
  color: var(--color-sky-600);
}
